body {
    height: 100vh;
    margin: 0px;
    background-color:#E8E0D1;
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#383634 ;
    color: #fce0a1;
    font-size: 40px;
    width: 100vw;
    height: 10vh;
    margin: 0px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.chooseYourWeapon {
    text-align: center;
    margin-top: 30px;
}

.chooseYourWeapon h2 {
    margin-bottom: -5px;

}

.game {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.game img {
    width: 100px;
}

.game h3 {
    text-align: center;
}

button {
    background-color: transparent;
    border: none;

}

img {
    width: 150px;
}

